# SITE SETTINGS
title: DeFacto                        # Title in top navigation bar (navbar) and <head>
description: Design Automation for Smart Factories # Site description in <head>
author: Michele Lora                    # Used for copyright statement in footer
# url: "https://peterdesmet.github.io"  # No slash at the end
# baseurl: "/petridish"                 # Only required if your site is on a subdomain e.g. https://username.github.io/sitename
                                        # which has url: "https://username.github.io" (no slash) and baseurl: "/sitename" (leading slash)
                                        # A baseurl affects internal links, see http://peterdesmet.github.io/petridish/about/#links
background: /assets/img/header.jpg
tagline: Rethinking the design foundations of high-assurance intelligent manufacturing systems

# SOCIAL PROFILES
email: michele.lora@univr.it            # Social icon in footer
twitter_username: DeFacto_H2020         # Social icon in footer
github_username: DeFacto-H2020           # Social icon in footer
youtube_channel: UC2vKUQ8QPuoJrbfmDsYXVoQ

# THEME SETTINGS (ALL OPTIONAL)
posts_on_home: 3                        # Show x number of latest posts on homepage, can be 0
tweets_on_home: true                    # Show Twitter feed of twitter_username on homepage
archive_permalink: /blog/               # Permalink of page using archive.html layout, required when using post categories
logo: /assets/img/MSCA_UE_Logo.jpg      # Logo in navbar, will be displayed with 30px height
colors:
  links: "#007bff"                      # Color for links: use a readable color that contrasts well with dark text
  banner: "#007bff"                     # Background color for page banners: use color that contrasts well with white
  footer: "#003399"                     # Background color for footer: use color that contrasts well with white
rounded_corners: true                   # Enable (default) rounded corners on boxes and buttons

# BUILD SETTINGS
markdown: kramdown
plugins:                                # If you build your site on gh-pages, only use these plugins: https://pages.github.com/versions/
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-scholar
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - LICENSE
  - package-lock.json
  - package.json
  - petridish.gemspec

# FRONTMATTER DEFAULTS
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      permalink: "/blog/:year/:slug/"   # Use /blog/yyyy/{filename}/ as permalink for all posts
  -
    scope:
      path: ""
    values:
      layout: "default"                 # Only required for Petridish website, implied for sites using a theme

# SETUP for PUBLICATIONS
scholar:
    style: apa
    locale: en

    sort_by: year,month
    order: ascending

    groub_by: year
    group_order: ascending

    source: ./_bibliography
    bibliography: publications.bib
    bibliography_template: ""

    replace_strings: true
    join_string: true

    use_raw_bibtex_entry: false

    details_dir: bibliography
    details_layout: bibliography.md
    details_link: Details

    query: "@*"
