---
layout: home 
description: Template for team page
---

{{ content }}

{% for member in site.data.team %}
  <div class="media team-member">
    <img class="mr-3" src="{{ member.image | relative_url }}">
    <div class="media-body">
      <h5 id="{{ member.name | strip | url_encode }}">
        {{ member.name }}
        {% if member.role %}
        <br><small class="text-muted">{{ member.role }}</small>
        {% endif %}
      </h5>


      <ul class="list-inline">
        {% if member.web %}
        <li class="list-inline-item">
          <a href="{{ member.web }}" target=”_blank”><i class="fa fa-university"></i></a>
        </li>
        {% endif %}

        {% if member.scholar %}
        <li class="list-inline-item">
          <a href="{{ member.scholar }}" target=”_blank”><i class="fa fa-graduation-cap"></i></a>
        </li>
        {% endif %}

        {% if member.orcid %}
        <li class="list-inline-item">
          <a href="https://orcid.org/{{ member.orcid }}" target=”_blank”><img class="orcid" src="{{ '/assets/theme/img/orcid.png' | relative_url }}"></a>
        </li>
        {% endif %}

        {% if member.email %}
        <li class="list-inline-item">
          <a href="mailto:{{ member.email }}" target=”_blank”><i class="fa fa-envelope"></i></a>
        </li>
        {% endif %}

        {% if member.github %}
        <li class="list-inline-item">
          <a href="https://github.com/{{ member.github }}" target=”_blank”><i class="fa fa-github"></i></a>
        </li>

        {% if member.twitter %}
        <li class="list-inline-item">
          <a href="https://twitter.com/{{ member.twitter }}" target=”_blank”><i class="fa fa-twitter"></i></a>
        </li>
        {% endif %}
        {% endif %}
      </ul>

      {{ member.description | markdownify }}

    </div>
  </div>
{% endfor %}

